@model AracKiralama.Entities.Arac

@{
    ViewData["Title"] = "Araç Sil";
}

<h1>Araç Sil</h1>

<h3>Bu Aracı Silmek İstediğinizden Emin Misiniz?</h3>
<div>
    <h4>Arac</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Renk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Renk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiyati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modeli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modeli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KasaTipi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KasaTipi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yakıt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yakıt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plaka)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plaka)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vites)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vites)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelYili)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelYili)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KiralikMi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KiralikMi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notlar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notlar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marka.Adi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marka.Adi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
