@using AracKiralama.Entities.Concrete.SatisFile;
@model Arac
@{
    ViewData["Title"] = Model.Marka.Adi + " " + Model.Modeli + " " + Model.KasaTipi;

}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/Img/Cars/@Model.Resim1" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/Img/Cars/@Model.Resim2" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/Img/Cars/@Model.Resim3" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder"> @ViewData["Title"] </h1>
                <div class="fs-5 mb-5">
                    <span> Fiyatı: @Model.Fiyati ₺</span>
                </div>
                <div class="fs-5 mb-5">
                    <span>Renk: @Model.Renk</span>
                </div>
                <div class="fs-5 mb-5">
                    <span>Model Yılı: @Model.ModelYili</span>
                </div>
                <div class="col-md-6">
                <div class="fs-5 mb-5">
                    <span> Vİtesi: @Model.Vites </span>
                </div>
                <div class="col-md-6">
                <div class="fs-5 mb-5">
                     <span> Plakası: @Model.Plaka </span>
                </div>
                <div class="col-md-6">
                <div class="fs-5 mb-5">
                      <span> Yakıtı: @Model.Yakıt </span>
                </div>
                <p class="lead">
                      @Model.Notlar

                                @foreach (KiralamaMusteriDTO satis in ViewBag.EskiMusteriler)
                                {
                                    <table>

                                        <thead>

                                            <tr>
                                                <th>Adı Soyadı</th>
                                                <th>Kiralama Tarihi</th>
                                                <th>İade Tarihi</th>
                                            </tr>

                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>@satis.MusteriAdi @satis.MusteriSoyadi</td>
                                                <td>@satis.KiralamaTarihi</td>
                                                <td>@satis.IadeTarihi</td>
                                            </tr>
                                        </tbody>

                                    </table>
                                }
                </p>
                          
                            </div>
                        </div>
                    </div>
                </div>
</section>


